:root{
  --main-color: #4a81ff;
  --main-color-alt: #004cff;
  --secondary-color: #ff9232;
  --secondary-color-alt: #ff7700;
  --main-transition: 500ms;
  --main-background: #ebdfdf;
  --main-background-alt: #fff7f7;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Cairo', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768){
  .container{
    width: 750;
  }
}
@media (min-width: 992){
  .container{
    width: 970;
  }
}
@media (min-width: 1200){
  .container{
    width: 1170;
  }
}
.header{
  background-color: var(--main-background-alt);
  position: relative;
  box-shadow: 0px 0px 20px #f0f0f0;
  z-index: 100;
  top: 2px;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 768px){
  .header .container > a::before{
    content: 'Mohammed ';
    display: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    visibility: none;
    letter-spacing: 1.8px;
  }
  .header .container > a:hover::before{
    position: absolute;
    right: 105px;
  }
  .header .container > a:not(hover)::before{
    position: absolute;
    left: -160px;
    display: inline-block;
  }
  .header .container > a{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
  }
  .header .container > a:hover{
    transform: translateX(160px);
    -webkit-transform: translateX(160px);
    -moz-transform: translateX(160px);
    -ms-transform: translateX(160px);
    -o-transform: translateX(160px);
    letter-spacing: 1.8px;
    margin-left: -5px;
}
}
.header .logo{
  color: var(--main-color);
  -webkit-text-stroke-width: .625px;
  -webkit-text-stroke-color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 55.17px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: stroke-color var(--main-transition);
  -webkit-transition: stroke-color var(--main-transition);
  -moz-transition: stroke-color var(--main-transition);
  -ms-transition: stroke-color var(--main-transition);
  -o-transition: stroke-color var(--main-transition);
}
@media (max-width: 767px){
  .header{
    top: 2px;
  }
  .header .logo{
    width: 100%;
    height: 50px;
    margin: 20px auto;
    text-transform: uppercase;
    margin: 0 10px;
  }
}

.header .logo > span{
  color: var(--main-color);
  font-size: 30px;  
  transition: var(--main-transition);
}
.header .logo:hover > span {
  color: var(--secondary-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--secondary-color-alt);
  transform scale(1.5);
  -webkit-transform: scale(1.3) translate(-2px,-3px);
}
.header .main-nav{
  display: flex;
}
.header .main-nav > li > a{
  height: 55.17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-weight: bolder;
  position: relative;
  padding: 0 30px;
  transition: var(--main-transition);
  overflow: hidden;
}
.header .main-nav > li > a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  top: 2px;
  left: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  bottom: 0;
  right: -100%;
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover{
  color: var(--main-color);
  background-color: #fefefe;
  font-weight: bold;
  transform: scale(1.1);
}
.header .main-nav > li > a:hover::before{
  left: 0;
}
.header .main-nav > li > a:hover::after{
  right: 0;
}
@media (max-width: 767px){
  .header .main-nav{
    margin: auto;
    margin-top: 0;
  }
  .header .main-nav > li > a::before{
    content: '';
    height: 0;
  }
}
.about{
  position: relative;
}
.about::before{
  content: '';
  position: absolute;
  left: 0;
  top: -70px;
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
  z-index: -1;
  transform: skewY(-5deg);
  transform-origin: top left;
}
.about .container{
  min-height: calc(100vh - 55px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 120px;
}
.about .text{
  flex: 1;
  max-width: 400px;
  position: relative;
}
.about .text h1{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  letter-spacing: -1px;
  color: var(--main-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-color-alt);
}
.about .text p{
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  line-height: 1.7;
  margin: 15px 0 0;
}
.about .image img{
  position: relative;
  width: 400px;
  max-width: 100%;
  animation: up-and-down 5s linear infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(1px) grayscale(.2);
  -webkit-filter: ;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.about .image img:hover{
  filter: blur(0px) grayscale(0);
  -webkit-filter: blur(0px) grayscale(0);
}

.about .next{
  color: var(--secondary-color-alt);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--main-transition);
  font-size: 30px;
  animation: bouncing 1.5s infinite;
  -webkit-animation: bouncing 1.5s infinite;
}
.about .next img{
  width: 80px;
  position: absolute;
  bottom: 30px;
  left: 51%;
  transform: translateX(-50%);
  transition: var(--main-transition);
  border: 2px solid var(--main-background);
  border-radius: 50%;
}
.about .next img:hover{
  bottom: 35px;
  border: none;
  outline: 100px solid rgba(255, 255, 255, 0.050);;
}
.about .next:hover{
  color: var(--main-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--main-color-alt);
}
.about .next i{
  /* animation: bouncing 1.5s infinite; */
}
@media (max-width: 767px){
  .about .container{
    flex-direction: column;
  }
  .about .image .imgs{
    top: 10px;
    transform: translateX(15%);
    width: 80%;
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    -ms-transform: translateX(15%);
    -o-transform: translateX(15%);
    animation: wide 3s infinite;
    -webkit-animation: wide 3s infinite;
}
  .about .text{
    text-align: center;
  }
  .about .text p{
    margin: 10px auto;
  }
}

@keyframes up-and-down {
  0%, 100%{
    top: 50px;
  }
  50%{
    top: -50px;
  }
}
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100%{
    transform: translateY(10px);
  }
  40%, 60%{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
}
  @keyframes wide {
    0%, 100%{
      top: 17px;
    }
    50%{
      top: -3px;
    }
  }
